/* Variáveis do projeto (SASS) */
$font-family: "Roboto", sans-serif;

$color-bg: #f5f6fa;
$color-header: #182C61;
$color-white: #fff;

$color-button: #44bd32;
$color-button-hover: #4cd137;

$container-max: 1024px;

$section-padding-y: 56px;
$header-padding-y: 16px;

$menu-gap: 24px;

$radius-lg: 16px;
$radius-md: 8px;

$bp-tablet: 1023px;
$bp-mobile: 767px;
