@use "variables" as v;
@use "mixins" as m;

/* Componentes */
.menu {
  display: flex;

  li {
    font-weight: bold;
    margin-left: v.$menu-gap;

    a {
      color: v.$color-white;
      text-decoration: none;
    }
  }
}

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;

  @include m.max(v.$bp-tablet) {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }

  @include m.max(v.$bp-mobile) {
    display: block;
  }
}

.product-item {
  img {
    width: 100%;
    border-radius: v.$radius-lg;
  }

  @include m.max(v.$bp-mobile) {
    margin-bottom: 32px;
  }
}

.product-button {
  display: block;
  background-color: v.$color-button;
  color: v.$color-white;
  text-align: center;
  padding: 8px 0;
  border-radius: v.$radius-md;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: v.$color-button-hover;
  }
}
