@use "variables" as v;
@use "mixins" as m;

/* Layout */
.container {
  max-width: v.$container-max;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: v.$color-header;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: v.$header-padding-y 0;
  }
}

section {
  padding: v.$section-padding-y 0;
}

/* Breakpoints */
@include m.max(v.$bp-tablet) {
  .container {
    max-width: 80%;
  }
}
